# Byte-code files
*.pyc

#vscode count
.VSCodeCounter/


# NextPy

nextpy.db
.web/
out/
public/tailwind.css # Ignore the compiled tailwind css as it's generated

# Build / distribution
dist/
build/
*.egg-info/

# Python caches
__pycache__/
*.py[cod]
*.so



# pytest cache
.pytest_cache/

# Temporary files
*.log
*.tmp


# Environment
.env
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
.ipynb_checkpoints

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
